body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1440px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5495_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u5495 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:30px;
  width:309px;
  height:50px;
  display:flex;
  font-family:'Noto Sans KR';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u5495 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5495_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5496 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:70px;
  width:1385px;
  height:660px;
}
#u5497_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:50px;
}
#u5497 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:50px;
  display:flex;
  font-family:'Noto Sans KR';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u5497 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5497_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5498_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:50px;
}
#u5498 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:0px;
  width:180px;
  height:50px;
  display:flex;
  font-family:'Noto Sans KR';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u5498 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5498_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5499_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:50px;
}
#u5499 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:0px;
  width:810px;
  height:50px;
  display:flex;
  font-family:'Noto Sans KR';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u5499 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5499_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5500_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:50px;
}
#u5500 {
  border-width:0px;
  position:absolute;
  left:1206px;
  top:0px;
  width:179px;
  height:50px;
  display:flex;
  font-family:'Noto Sans KR';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u5500 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5500_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5501_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:175px;
}
#u5501 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:216px;
  height:175px;
  display:flex;
  font-family:'Noto Sans KR';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u5501 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5501_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5502_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:175px;
}
#u5502 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:50px;
  width:180px;
  height:175px;
  display:flex;
  font-family:'Noto Sans KR';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u5502 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5502_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5503_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:175px;
}
#u5503 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:50px;
  width:810px;
  height:175px;
  display:flex;
  font-family:'Noto Sans KR';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
#u5503 .text {
  position:absolute;
  align-self:center;
  padding:0px 10px 0px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5503_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5504_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:175px;
}
#u5504 {
  border-width:0px;
  position:absolute;
  left:1206px;
  top:50px;
  width:179px;
  height:175px;
  display:flex;
  font-family:'Noto Sans KR';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u5504 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5504_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5505_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:400px;
}
#u5505 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:225px;
  width:216px;
  height:400px;
  display:flex;
  font-family:'Noto Sans KR';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u5505 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5505_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5506_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:400px;
}
#u5506 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:225px;
  width:180px;
  height:400px;
  display:flex;
  font-family:'Noto Sans KR';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u5506 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5506_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5507_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:400px;
}
#u5507 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:225px;
  width:810px;
  height:400px;
  display:flex;
  font-family:'Noto Sans KR';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
#u5507 .text {
  position:absolute;
  align-self:center;
  padding:0px 10px 0px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5507_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5508_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:400px;
}
#u5508 {
  border-width:0px;
  position:absolute;
  left:1206px;
  top:225px;
  width:179px;
  height:400px;
  display:flex;
  font-family:'Noto Sans KR';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u5508 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5508_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5509_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:35px;
}
#u5509 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:625px;
  width:216px;
  height:35px;
  display:flex;
  font-family:'Noto Sans KR';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u5509 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5509_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5510_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:35px;
}
#u5510 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:625px;
  width:180px;
  height:35px;
  display:flex;
  font-family:'Noto Sans KR';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u5510 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5510_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5511_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:35px;
}
#u5511 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:625px;
  width:810px;
  height:35px;
  display:flex;
  font-family:'Noto Sans KR';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
#u5511 .text {
  position:absolute;
  align-self:center;
  padding:0px 10px 0px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5511_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5512_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:35px;
}
#u5512 {
  border-width:0px;
  position:absolute;
  left:1206px;
  top:625px;
  width:179px;
  height:35px;
  display:flex;
  font-family:'Noto Sans KR';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u5512 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5512_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
